<div class="row edu text-center">
  <hr />
  <div>
    <h1 class="text-muted">Education</h1>
  </div>
  <div id="even" cdkDropList class="row mt-2 mx-auto">
    <div class="card skill shadow col-lg-12" cdkDragPreviewContainer="parent">
      <div>
        <div class="row g-0">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body text-center">
              <h2>Bachelor of Information Systems</h2>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <p class="titles">University of Exact Sciences UNNE</p>
              </div>
              <div class="col-lg-4"></div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 titles">
                <h5>Since &nbsp;</h5>
                <h6 class="titles">
                  2017 - Present&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
