<div class="container">
  <div class="row text-center">
    <div>
      <hr />
      <h1 class="text-muted">Project</h1>
    </div>
    <div class="card mat-card mx-auto">
      <div id="even" cdkDropList class="row mt-2">
        <div class="card skill shadow col-12" cdkDragPreviewContainer="parent">
          <div class="row g-0 titles">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card-body text-center">
                <h2>Project Portfolio: Argentina Programa</h2>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <img
                    src="https://i.ibb.co/TBHrcS8/Sin-t-tulo3.png"
                    class="img-fluid img"
                    alt="..."
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <p class="titles">Portfolio before CRUD</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 titles">
                  <button type="button" class="btn btn-light">
                    <a
                      href="https://agustinmedina.github.io/miPortfolio-Angular-Bootstrap-EN/"
                      target="_blank"
                      >Static Portfolio</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="even" cdkDropList class="row mt-2">
          <div
            class="card skill shadow col-12"
            cdkDragPreviewContainer="parent"
          >
            <div class="row g-0 titles">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-body text-center">
                  <h2>Project Portfolio: Argentina Programa</h2>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <img
                      src="https://i.ibb.co/2yqWykM/maxresdefault1.jpg"
                      class="img-fluid img"
                      alt="..."
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <p class="titles">
                      Rest API to create, read, modify and delete
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 titles">
                    <button type="button" class="btn btn-light">
                      <a
                        href="https://agustinmedina.github.io/miPortfolio-Angular-Bootstrap-EN/"
                        target="_blank"
                        >Source code</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
